{% extends 'users/_base.html' %}
{% load crispy_forms_tags %}

{% block title %}<title>Issue Book</title>{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row">

<div class="col-sm-5 content-section">
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4 text-primary">Issue Book</legend>
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-info">Submit</button>
        <button type="reset" class="btn btn-outline-danger">Cancel</button>
    </div>
</form>

</div>

<div class="col-sm-5 content-section" style="margin-left: 245px;">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4 text-primary">Member Books</legend>

    </fieldset>

</div>
</div>

</div>

{% endblock %}